@keyframes shake {
  15% {
    transform: rotate(-5deg) translate(0.15em, 0.3em);
  }

  30% {
    transform: rotate(3deg) translate(0, -0.05em);
  }

  45% {
    transform: rotate(0deg) translate(-0.15em, 0.25em);
  }

  60% {
    transform: rotate(-5deg) translate(0.15em, 0.25em);
  }

  75% {
    transform: rotate(0deg) translate(0, -0.15em);
  }

  90% {
    transform: rotate(5deg) translate(-0.05em, 0.25em);
  }
}

@keyframes blub {
  47% {
    transform: scale(0.99);
  }

  50% {
    transform: scale(1.015);
  }

  53% {
    transform: scale(1);
  }
}

#root {
  background-attachment: fixed;
  background-image: linear-gradient(90deg, rgba(124, 169, 169, 0.25) 3%, rgba(119, 187, 188, 0.15) 29%, rgba(192, 201, 201, 0.25) 100%), url('./assets/whatdofundo.jpeg');
  background-size: contain;
  box-sizing: border-box;
  contain: content;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  width: minmax(100vw);
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
  position: fixed;
  top: 0;
  width: 100vw;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 25vh;
    margin-top: 0;
  }

  img {
    width: calc(5em + 15vmin);
  }

  .header-question {
    animation: shake 2s linear;
    font-weight: 400;
    margin-bottom: calc(0.5em + 1.5vmin);
  }
}

.boards-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 45vh;
  margin-top: calc(6em + 10vmin);
  margin-inline: auto;
  padding: 1em;
  width: 90%;

  .tasks-board-collapse {
    box-shadow: none;
    width: 90%;
    margin-block: 0.5em;
  }

  .tasks-board {
    border-radius: 0 4px 4px 4px;
    padding: 2em;
    padding-top: 6.5em;
    position: relative;
    margin-block: 1.75em;

    .tasks-board-header {
      box-shadow: 1px -5px 3px -5px rgba(0, 0, 0, 0.25), -5px -5px 3px -5px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px 4px 0 0;
      padding: 0.5em;
      position: absolute;
      width: 25%;
      height: 3em;
      top: -1.5em;
      left: 0;
      z-index: 7;
      cursor: pointer;

      ::selection {
        background-color: transparent;
      }

      &>* {
        margin-block: 0.15em;
      }
    }

    .new-task {
      animation: blub 10s ease-out infinite;
      margin-top: 1em;
    }
  }

  .collapsed {
    box-shadow: -1px 3px 3px -5px rgba(0, 0, 0, 0.2), -3px 3px 5px -5px rgba(0, 0, 0, 0.14), -3px 3px 5px -3px rgba(0, 0, 0, 0.12);
    margin-bottom: -2.5em;
  }

  .board-create {
    width: 85%;

    .new-board {
      animation: blub 8s ease-in infinite;
    }
  }
}

.task-field {
  background-color: #f9f9f9;
  padding: 0.25em;
  position: relative;

  &>:first-child {
    padding-left: 3em;
  }

  .task-field-status {
    align-self: center;
    left: 0;
    position: absolute;
    visibility: visible;
    z-index: 9;
  }

  .task-field-description {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(45% - 10vmin);
  }

  .task-field-actions {
    align-self: center;
    display: flex;
    gap: 1em;
    max-width: 33%;
    position: absolute;
    right: 8%;
    visibility: visible;
    z-index: 9;
  }
}

@media screen and (max-width: 768px) {
  .boards-box {
    width: 95%;

    .tasks-board-collapse {
      width: 95%;

      .task-field-description {
        display: none;
        visibility: hidden;
      }

      .task-field-title {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .boards-box {
    .tasks-board-collapse {
      .expand-icon {
        display: none;
        visibility: hidden;
      }
    }

    .task-field {
      .task-field-actions {
        gap: 0.5em;
        right: 5%;
      }
    }
  }
}